/* Large Screens */
@media screen and (min-width: 1171px) {

}
/* Medium screens and big laptops */
@media screen and (min-width: 769px) and (max-width: 1170px) {
    
    .works .item .mask {
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .works .item .mask a {
        margin-top: -5px;
        font-size: 12px;
    }
}
/* Laptops */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    header .logo {
        width: 100%;
        text-align: center;
    }
    header .about {
        width: 80%;
    }
    .works {
        grid-template-columns: 1fr 1fr;
    }
    
}
/* Small laptops and smartphones */
@media screen and (max-width: 500px) {
    .works .item .mask {
        padding: 10px;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .works .item .mask a {
        margin-top: -5px;
        font-size: 8px;
    }
}