body {
	background: url("../background1.png");
}
.questionnaire {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.main-text {
    max-width: 400px;
    text-align: center;
    margin: 50px auto;
    margin-bottom: 20px;
}

.btn {
    display: block;
	font-size: 16px;
	padding: 5px 10px;
    margin: 7px auto;
}

.btn-reload {
    background-color: #333;
    color: #ffffff;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.btn-reload:hover {
    opacity: 0.9;
}